.pop-up__text {
  width: 100%;

  font-size: 14px;
  line-height: 17px;
  margin: 0;
  padding: 0 0 9.28px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

@media screen and (max-width: 414px){
  .pop-up__text {
    max-width: 100%;
  }
}