.photo-grid__item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  object-fit: cover;
  margin: auto;
  object-fit: cover;
  width: 100%;
}